body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

#terminal {
    white-space: pre;
    font-size: 1em;
    padding: 20px;
}
